.link-button, .action-button  {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 16px 32px; /* Increased padding for bigger buttons */
    border-radius: 12px; /* Increased border-radius for smoother corners */
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    margin: 10px;
    font-size: 18px; /* Increased font size for bigger buttons */
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow for depth */
  }
  
  .link-button:hover, .action-button:hover {
    background-color: #2196F3; /* Different color on hover */
    transform: scale(1.1); /* Increased scale on hover for a slight zoom effect */
  }
  

  

  
  .button-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .button-box:hover {
    background-color: #e0e0e0;
  }
  